.sponsorFormContainer {
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
}

.sponsorForm {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.sponsorForm label {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
}

.sponsorForm input,
.sponsorForm select {
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sponsorForm button {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #0078d4;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 1rem;
}

.sponsorForm button:hover {
  background-color: #005a9e;
}

.container {
  display: flex; /* Use flexbox to align items side by side */
  gap: 2rem; /* Add space between the form and the sponsorship info */
  padding: 2rem;
}

.formContainer {
  flex: 0 0 50%; /* Restrict the form width to 40% */
}

.infoContainer {
  flex: 1; /* Take up the remaining space for the sponsorship info */
  padding: 1rem;
  border-radius: 8px;
  font-size:small;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Dropdown tier colors */
.tierDropdown option {
  font-weight: bold;
}

.platinumTier {
  color: #e5e4e2;
  background-color: #000;
}

.goldTier {
  color: #ffd700;
  background-color: #000;
}

.silverTier {
  color: #c0c0c0;
  background-color: #000;
}

.bronzeTier {
  color: #cd7f32;
  background-color: #000;
}

.copperTier {
  color: #ee4618;
  background-color: #000;
}